streamlit

transformers
torch
pillow
requests

langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-google-genai

sentence-transformers
faiss-cpu

python-dotenv
langchain-text-splitters
